<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form id="updateAccountForm" action="/account/updateAccount" method="post">
  <fieldset>
    <legend>All fields are required.</legend>
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" name="account_firstname" required value="<%= locals.account_firstname %>">

    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" name="account_lastname" required value="<%= locals.account_lastname %>">

    <label for="email">Email:</label>
    <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>">
    <button type="submit">Update</button>
    <input type="hidden" name="account_id"
    <% if(locals.account_id) { %> value="<%= locals.account_id %>"
    <% } %>>
  </fieldset>
</form>

<h2>Update Password</h2>
<form id="updatePasswordForm" action="/account/updatePassword" method="post">
  <fieldset>
    <legend>*Note your original password will be changed.</legend>
    <label for="password">Password:</label>
    <input type="password" name="account_password" id="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    <span class="password-help">Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character.</span>
    <button type="submit">Change Password</button>
    <input type="hidden" name="account_id"
    <% if(locals.account_id) { %> value="<%= locals.account_id %>"
    <% } %>>
    <input type="hidden" name="account_firstname"
    <% if(locals.account_firstname) { %> value="<%= locals.account_firstname %>"
    <% } %>>
    <input type="hidden" name="account_lastname"
    <% if(locals.account_lastname) { %> value="<%= locals.account_lastname %>"
    <% } %>>
    <input type="hidden" name="account_email"
    <% if(locals.account_email) { %> value="<%= locals.account_email %>"
    <% } %>>
  </fieldset>
</form>